// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F7F6ED;

//Production colors:
$off-white: #F2F3F5;
$romance: #F5F0E5;
$soft-cream: #F7F7EC;
$white-pointer: #FFF4FF;
$mike-blue: #163970;
$tusk: #E4E5A8;
$friar-gray: #807C7A;
$bokara-gray: #292929;
