.banner {
  height: 95vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-attachment: fixed;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.box-img {
  width: 100%;
  margin: auto;
  padding: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#img-1 {
  background-image: url("bgs/bg2.jpg");
}

#img-2 {
  background-image: url("bgs/bg2.jpg");
}

#img-3 {
  background-image: url("bgs/bg3.jpg");
}

.input-field {
  position: relative;
  background-color: rgba(41, 41, 41, 0.8);
  padding: 40px 30px 40px 30px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
}

.input-box {
  padding: 0px;
  height: 30px;
  color: $soft-cream;
  text-align: left;
  transition: color 0.3s ease;
  text-transform: uppercase;
  font-style: normal;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 0.3em;
  outline: none;
  border: none;
  border-bottom: 2px solid $soft-cream;
  background-color: transparent;
}

.input-box:hover {
  border-bottom: 2px solid $tusk;
}

.btn-sp {
  position: relative;
  color: $bokara-gray;
  background-color: $soft-cream;
  flex: 1 1 auto;
  padding: 5px 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.3em;
  transition: 1s;
  background-size: 200% auto;
  border-radius: 10px;
}

.btn-sp:hover {
  background-position: right center; /* change the direction of the change here */
  background-image: linear-gradient(to right, $soft-cream 0%, $soft-cream 20%, $tusk 35%, $tusk 55%, $tusk 100%);
}