.content-search {
  display: grid;
  grid-template-columns: 110px repeat(11, 1fr) 110px;
  grid-template-rows: 73px 10px 60px 10px 1fr 10px;
  height: calc(100vh - 70px);
  align-items: center;
  justify-content: center;
  padding: 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.3em;
  // position: relative;
}

.cards-container {
  grid-row: 5 / span 1;
  grid-column: 2 / span 5;
  width: 500px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  ul {
    padding: 0px;
  }
  li {
    width: 100%;
    list-style: none;
  }
}

.fixed-map {
  grid-column: 8 / span 3;
  margin-top: calc(100vh - 30px);
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  overflow: hidden;
}

#chateaus-map {
  border: 1px solid $bokara-gray;
  border-radius: 5px;
  width: 500px;
}

// Refine search box //

.search-box {
  grid-column: 2 / span 11;
  grid-row: 2 / span 2;
  display: flex;
  flex-flow: row wrap;
  background-color: $soft-cream;
  position: fixed;
  border-bottom: 1px solid $bokara-gray;
  height: 79px;
  width: 100%;
  margin-top: 73px;
  margin-bottom: auto;
  padding: 10px 0px;
  z-index:10;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
  letter-spacing: 0.2em;
  line-height: 80%;
  ul, li {
    list-style: none !important;
  }
}

.box-results {

}

.sortbox {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  overflow: hidden;
  padding: 0px;
  height: 30px;
  color: $bokara-gray;
  text-align: left;
  transition: color 0.3s ease;
  text-transform: uppercase;
  font-style: normal;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 0.2em;
  outline: none;
  border: none;
  background-color: transparent;
}
