//Page basic structure //

.content-search {
  display: grid;
  grid-template-columns: 110px repeat(12, 1fr) 110px;
  grid-template-rows: 73px 10px 60px 10px 1fr 10px;
  height: calc(100vh - 70px);
  align-items: center;
  justify-content: center;
  padding: 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.2em;
  // position: relative;
}

// Cards listing style //
.cards-container {
  grid-row: 5 / span 1;
  grid-column: 3 / span 5;
  width: 500px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
 ul {
  padding: 0px;
 }
li {
  width: 100%;
  list-style: none;
 }
}

// Map & container map //

.map-container {
  position: relative !important;
  grid-column: 8 / span 3;
  grid-row: 4 / span 1;
  margin-top: calc(100vh - 266px);
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

#chateaus-map {
  // margin-left: auto;
  // margin-right: auto;
  height: 500px;
  width: 500px;
  overflow: hidden;
  border: 1px solid $bokara-gray;
  border-radius: 5px;
}

// Refine search box //

.search-box {
  grid-column: 2 / span 11;
  grid-row: 2 / span 2;
  background-color: $soft-cream;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  position: fixed;
  border-bottom: 1px solid $bokara-gray;
  height: 100px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: auto;
  padding: 40px 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
  letter-spacing: 0.2em;
  z-index:10;
  ul, li {
    list-style: none !important;
  }
}

  .box-results {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 0px !important;
    .ul-right {
      text-align: right;
    }
    .ul-right li {
      line-height: 80%;
    }
    .ul-right a {
      color: $bokara-gray;
      transition: color 0.2s ease;
    }
    .ul-right a:hover {
      color: $tusk;
      text-decoration: none;
    }
    .ul-left {
      text-align: left;
    }
  }

// Refine search dropdown menu //

  .sortbox {
   -webkit-appearance: button;
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url("visuals/caretbokgray.png");
   background-color: transparent;
   background-position: 97% center;
   background-repeat: no-repeat;
   border: none;
   border-bottom: 2px solid #AAA;
   border-radius: 0px;
   color: #555;
   text-transform: uppercase;
   font-weight: 500;
   font-style: normal;
   font-size: 9.5px;
   letter-spacing: 0.2em;
   overflow: hidden;
   padding: 6px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
 }

 .sortbox:hover {
  text-decoration: none;
}

.sortbox:focus {
  outline: none;
}
