<h1>Congratulations! You just booked your own château!</h1>

<%= @chateau.description %>

<%= @booking.start_date %> <%= @booking.end_date %>

<%= link_to "Back to Chateau", chateau_path(@chateau) %>
