<h1>Congratulations! You just booked your own château!</h1>

<h2>Please proceed to payment to secure your booking:</h2>

<form>
  <label for="name">Name of the card holder: </label>
  <input type="name">
  <label for="number">Your card number: </label>
  <input type="card number">
  <label for="number">Your CSV number: </label>
  <input type="CSV number">
  <label for="number">Expiration date: </label>
  <input type="Expiration date">
  <a href="/confirmation" class="btn btn-primary">Confirm payment</a>
  <%= link_to "Confirm your Payment", booking_confirmation_path(@booking.id) %>
</form>

