<div class="gradient">
  <div class="container-img">
    <div class="banner-content">
      <div class="banner">
        <%= link_to "Find your Castle", chateaus_path, {class: "btn btn-primary btn-lg"} %>
      </div>
    </div>
  </div>
</div>
