<div class="gradient">
  <div class="container-img">
    <div class="banner-content">
      <div class="banner">
        <%= link_to "Search", chateaus_path, {class: "btn btn-medium-sp"} %>
      </div>
    </div>
  </div>
</div>
