<div class="content">
  <div class="booking_form">
    <%= simple_form_for([@chateau, @booking], {class: "form_for"}) do |f| %>
    a <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Book your Chateau", class: "btn btn-medium"%>
    <% end %>
  </div>
</div>




