<div class="footer">
  <div><img>
  </div>
  <div class="footer-links">
    <a href="#">Find your new home</a>
    <a href="#">About Le Petit Château</a>
    <a href="#">Disclaimer</a>
    <a href="#">Contact Us</a>
  </div>
</div>
