<div class="footer">


  <div class="networks-lpchateau-link">
    <ul class="list-inline">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
  </div>
  <div class="footer-lpchateau-link">
    <ul class="list-inline">
      <li><%= link_to "Find your new home", "#", class: "footer-lpchateau-item footer-lpchateau-link" %></li> |
      <li><%= link_to "About Le Petit Châteu", "#", class: "footer-lpchateau-item footer-lpchateau-link" %></li> |
      <li><%= link_to "Disclaimer", "#", class: "footer-lpchateau-item footer-lpchateau-link" %></li> |
      <li><%= link_to "Contact Us", "#", class: "footer-lpchateau-item footer-lpchateau-link" %></li>
    </ul>
  </div>
</div>
