 <div class="search-box">
  <div class="box-results">
    <ul class="ul-left">
      <li>
        <P>(RB path) properties correspond to your search</P>
        <P>Sort by:
          <select class="sortbox" name="sortby">
            <option>Our favourites</option>
            <option>Most recent</option>
            <option>Price: High to low</option>
            <option>Price: Low to high</option>
            <option>Surface</option>
            <option>Number of rooms</option>
          </select>
        </P>
        <!-- <p></p>
        <P>Show by:
          <select class="sortbox" name="qttyperpage">
            <option>5</option>
            <option>10</option>
            <option>15</option>
            <option>All</option>
          </select>
        </P> -->
      </li>
    </ul>
    <ul class="ul-right">
      <li>
        <P><a href="#"> > Modify your search</a></P>
        <P><a href="#"> > Save search</a></P>
        <P><a href="#"> > Create e-mail alert</a></P>
      </li>
    </ul>
  </div>
</div>
