<!-- Right Navigation -->


  <div class="header-lpchateau">
    <!-- Logo -->
    <div class="center">
    <%= link_to root_path, class: "header-lpchateau-brand" do %>
    <%= image_tag "visuals/logolpc.png" %>
    <% end %>
  </div>
  </div>

