<h1>Congratulations! You just booked your own château!</h1>

<h2>Please proceed to payment to secure your booking:</h2>

<form>
  <input type="Name of the card holder">
  <input type="Your card number">
  <input type="Your CSV number">
  <input type="Expiration date">
  <input type="submit" value="Do the payment">
</form>

