/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  display: block;
  margin: 0px;
  text-align: center;
  color: white;
  margin-top: 74px;
  border: none;
  border-radius: none;

}
.alert-info {
  background: $bokara-gray;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.2em;
}
.alert-warning {
  background: $bokara-gray;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.2em;
}
