.container {
  width: 100%;
  width:100%;
  margin: auto;
  padding: 0px;
}

.gradient {
  background-image: linear-gradient(-225deg, rgba(0,47,75,0.9) 0%, rgba(220,66,37,0.9) 50%);
}

.container-img {
  width:100%;
  margin: auto;
  padding: 0px;
  background: url("visuals/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .9;
}

.banner {
  position: sticky;
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
