.cards-container {
  justify-content: space-between;
}

#booking-container {
  height: 200px;
  align-text: justify;
}

#booking-container h4 {
  align-text: center;
}

#booking-container span {
  font-style: italic;
  background-color: #E5E2AE;
}

#booking-container-2 {
  padding-top: 100px;
  align-text: center;
}

#booking-container-2 span {
  font-style: italic;
  background-color: #E5E2AE;
}

#booking-container-3 {
  color: black;
  align-text: center;
}
