.btn-medium-sp {
  display: inline-block;
  background: #1B3D6D;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.3em;
  color: #F4EFE6;
  border-radius: 5px;
  padding: 18px 70px 20px;
  transition: all 0.7s ease-out;
  background: linear-gradient(-2450deg, rgba(27, 61, 109,0.8), rgba(37, 68, 133,0.8), rgba(59, 96, 150,1), rgba(232, 56226, 217,1));
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0.625rem;
  border: 1px solid rgba(223,190,106,0);
}

.btn-medium-sp:hover {
  color: #E5E2AE;
  border: 1px solid rgba(223,190,106,0);
  color: white;
  background-position: 99% 50%;
}

.btn-medium {
  display: inline-block;
  background: #1B3D6D;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.3em;
  color: #F4EFE6;
  border-radius: 5px;
  padding: 18px 70px 20px;
  transition: all 0.7s ease-out;
  background: linear-gradient(-2450deg, rgba(27, 61, 109,0.8), rgba(37, 68, 133,0.8), rgba(59, 96, 150,1), rgba(232, 56226, 217,1));
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0.625rem;
  border: 1px solid rgba(223,190,106,0);
}

.btn-medium:hover {
  color: #E5E2AE;
  border: 1px solid rgba(223,190,106,0);
  color: white;
  background-position: 99% 50%;
}
