
.card {
  position: relative;
  margin: 15px 10px;
  height: 180px;
  // width: 350px;
  background-size: cover !important;
  background-position: center;
  border: 1px solid $bokara-gray;
  border-radius: 5px;
  color: $soft-cream;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  cursor: pointer;
}

.card:hover {
  background-color: $tusk;
  opacity: 0.7;
  text-decoration: none;
}

.card-description {
  position: absolute;
  bottom: 40px;
  left: 10px;
  a {
    color: $soft-cream;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.2em;
  }
  a:hover {
    text-decoration: none;
  }
}

.explaining-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  letter-spacing: 0.2em !important;
}

.price-bedrooms {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
  background: $bokara-gray;
  opacity: 0.8;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  p {
    margin-top: auto;
    margin-bottom: auto;
    color: $soft-cream;
    letter-spacing: 0.2em !important;
  }
}


