.content {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin-left: 100px;
  margin-right: 100px;
}

.cards-container li {
  width: 100%;
}
