// Main Footer

.footer {
  background: $soft-cream;
  padding: 10px 90px 0px 90px;
  border-top: 1px solid $tusk;
  height: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: sticky;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

// Social network links

.networks-lpchateau-link li > a {
  color: $bokara-gray;
  font-size: 1.4em;
  opacity: 0.9;
}

.networks-lpchateau-link a:hover {
 color: black;
 text-decoration: none;
}

// Footer links

.footer-lpchateau-link {
  color: $bokara-gray;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.3em;
  opacity: 0.8;
}

.footer-lpchateau-link:hover {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid $bokara-gray;
}
