.booking_form {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #F4EFE6;
  transition: all 0.3s ease;
  height: 20px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E5E2AE;
  margin-left: 100px;
  margin-right: 100px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.3em;
}

.form {
  width: 300px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E5E2AE;
  margin-left: 100px;
  margin-right: 100px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.3em;

}
