/* Main header */
.header-lpchateau {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // background: rgba(41, 41, 41, 1);
  background: $bokara-gray;
  height: 74px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  justify-content: space-between;
  border-bottom: 1px solid $bokara-gray;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}

.header-lpchateau-link {
  color: $soft-cream;
  transition: color 0.3s ease;
  text-transform: uppercase;
  font-style: normal;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 0.3em;
  padding-top: 8px;
  padding-bottom: 8px;
}

.header-lpchateau-link:hover {
 color: black;
 text-decoration: none;
 font-weight: lighter;
}

/* Logo */
.header-lpchateau-brand img {
  height: 50px;
}

/* User Avatar */
.header-lpchateau .avatar {
  height: 37px;
  width: 37px;
  border-radius: 50%;
  border: 1px solid $bokara-gray;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);

}

/* Right section */
.header-lpchateau-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic header item */
.header-lpchateau-item {
  color: $soft-cream !important;
  cursor: pointer;
  padding: 0 20px;
}

/* header link */

#login {
  text-decoration: none;
}
.header-lpchateau-link {
  color: $soft-cream;
  transition: color 0.3s ease;
  text-transform: uppercase;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.3em;
  padding-top: 8px;
  padding-bottom: 8px;
}
.header-lpchateau-link:hover {
  color: black !important;
  text-decoration: none;
}

/* Dropdown menu */
.header-lpchateau-dropdown-menu {
  margin-top: 25px;
  background-color: rgba(41, 41, 41, 1);
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.3em;
  border-radius: 10px;
}
.header-lpchateau-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $soft-cream !important;
  font-size: 0.9em !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.header-lpchateau-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}

.logout {
  border-top: 1px solid $soft-cream;
}
