/* Main navbar */
.navbar-lpchateau {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #F4EFE6;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E5E2AE;
}

.navbar-lpchateau-link {
  color: #1B3D6D;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.3em;
  text-decoration: none;
  opacity: 0.6;
}

.navbar-lpchateau-link:hover {
 color: black;
 text-decoration: none;
 opacity: 0.6;
}

/* Logo */
.navbar-lpchateau-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-lpchateau .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-lpchateau-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-lpchateau-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */

#login {
  text-decoration: none;
}
.navbar-lpchateau-link {
  color: #1B3D6D;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.3em;
  padding-top: 8px;
  padding-bottom: 8px;
}
.navbar-lpchateau-link:hover {
  color: #E5E2AE;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-lpchateau-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E5E2AE;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.3em;
}
.navbar-lpchateau-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #1B3D6D !important;
  font-size: 0.9em !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-lpchateau-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-lpchateau-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
