<div class="content">
  <div class="cards-container">
    <div class="row">
      <div class="col-xs-6">
        <ul class="list-inline">
          <% @chateaus.each do |chateau| %>
          <li>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= chateau.photo_url %>');">

                <div class="card-description">
                  <%= chateau.description %>
                  <% end %>
                  <br>
                </div>
              </div>
          </li>
        </ul>
      </div>
      <div class="col-xs-6">
        <div id="map" style="width: 100%; height: 600px;">ppk</div>

      </div>
    </div>
  </div>

  <% content_for(:after_js) do %>
    <script>
      var handler = Gmaps.build('Google');

      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    </script>
  <% end %>
</div>
